@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Inter:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
  
  --color-brand-primary: #2d3e50;
  --color-brand-secondary: #e5e7eb;
}

@layer base {
  body {
    @apply font-sans text-slate-800 bg-[#faf9f6];
  }
  
  h1, h2, h3, h4 {
    @apply font-serif;
  }
}
